/* Container styles */
.assistantContainer {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 50;
  display: flex;
  flex-direction: column;
}

.chatHeaderText {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--color-primary-30);
}

.toggleButton {
  border-radius: 9999px;
  background-color: var(--primary);
  padding: 2rem;
  color: white;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  transition: all 0.3s;
}

.toggleButton:hover {
  background-color: var(--primary-hover);
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chatContainer {
  display: flex;
  width: 400px;
  flex-direction: column;
  overflow: hidden;
  border-radius: 0.125rem;
  background-color: white;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.chatHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary);
  padding: 1rem 1rem 1rem 2rem;
  color: white;
}

.closeButton {
  color: var(--color-primary-30);
  transition: color 0.3s;
}

.closeButton:hover {
    color: var(--color-primary-40);
}

.messagesContainer {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  overflow-y: auto;
  padding: 1rem;
  max-height: 400px;
  min-height: 300px;
}

.welcomeMessage {
  margin-bottom: 0.75rem;
  border-radius: 0.5rem;
  background-color: rgb(243, 244, 246);
  padding: 0.75rem;
}

.messageBubble {
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.loadingIndicator {
  margin-right: auto;
  max-width: 80%;
  border-radius: 0.5rem;
  background-color: rgb(243, 244, 246);
  padding: 0.75rem;
  color: rgb(31, 41, 55);
}

.loadingDots {
  display: flex;
  column-gap: 0.5rem;
}

.loadingDot {
  width: 0.5rem;
  height: 0.5rem;
  animation: bounce 1s infinite;
  border-radius: 9999px;
  background-color: rgb(156, 163, 175);
}

.inputForm {
  display: flex;
  border-top: 1px solid rgb(229, 231, 235);
  padding: 2rem 1rem;
}

.input {
  flex: 1;
  border: 0;
  background-color: transparent;
  padding: 0.5rem;
}

.input:focus {
  outline: none;
  ring: 0;
}

.submitButton {
  border-radius: 9999px;
  padding: 1rem;
}

.submitButtonEnabled {
  background-color: var(--color-neutral-10);
}

.submitButtonEnabled:hover {
  background-color: var(--color-neutral-90);
  animation: shake 1s normal;
}

.submitButtonDisabled {
  cursor: not-allowed;
  background-color: var(--color-neutral-10);
  color: var(--color-neutral-05);
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-2px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(2px);
  }
} 